<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Accueil</a>
      </li>
      <li>
        <a href="/contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
      </li>
      <li>
        <a href="http://blog.gsagnard.fr"><span class="glyphicon glyphicon-book"></span> Blog</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Réalisations<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Getting Started with Ruby on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">Getting Started with PHP on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-java">Getting Started with Java on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-go">Getting Started with Go on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-clojure">Getting Started with Clojure on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-scala">Getting Started with Scala on Heroku</a></li>
            <li class="divider"></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting Started on Heroku with Heroku Connect</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-jruby">Getting Started with Ruby on Heroku (Microsoft Windows)</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/competences"><span class="glyphicon glyphicon-education"></span> Competences</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/medias"><span class="glyphicon glyphicon-film"></span> Medias</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="container">
    <a href="http://gsagnard.fr" class="lang-logo">
      <img src="images/rick.jpg" width="100" height="100"/>
    </a>
    <h1>Portfolio Gabriel SAGNARD</h1>
    <p>Ce template a été réalisé par mes soins avec le framework JavaScript, EmberJS et déployé sur la plate-forme cloud Heroku. J'espère qu'il saura vous plaire.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/gabrielsagnard/ember-js-getting-started"><span class="glyphicon glyphicon-flash"></span> Source on GitHub</a>
    <a type="button" class="btn btn-lg btn-primary" href="/CVrevu.pdf"><span class="glyphicon glyphicon-download"></span> Curriculum vitae</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Comment marche cette application web ?</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/ruby-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it grabbed all the dependencies in the <a href="https://github.com/heroku/ember-js-getting-started/blob/master/package.json">package.json</a>.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Me trouver:</h3>
      <ul>
        <li><a href="http://gsagnard.fr/">Mon site</a></li>
        <li><a href="http://blog.gsagnard.fr">Mon blog</a></li>
      </ul>
    </div>
  </div>
</div>
